*{
	padding:0;
	margin:0;
}
 
body {
	font-family: "Helvetica";
	font-size:13px;
	-webkit-user-select:none;
    -webkit-text-size-adjust:none;
	background:#f1f1f1;
	color:#666;
	overflow-x:hidden;
}
#kk_login_window{
	width:90%;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-45%;
	margin-top:-100px;
	z-index:200;
	display:none;
	border:1px black solid;
	background:#222;
	opacity:0.85;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:45px 10px 15px 10px;	
}


#kk_login_window textarea{
	width:100%;
	font-size: 18px;
	outline:none;
	color:#72A6FC;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#CCC), color-stop(5%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #CCC, #EEEEEE 5%, #FFFFFF);
	border: 2px solid #ccc;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-weight:bold;
	padding:5px;
}

#kk_login_window .close,#image .close{
	position:absolute;
	top:-10px;
	right:-10px;
	height:40px;
	cursor:pointer;

}
#kk_login_window .tips{
	position:absolute;
	top:9px;
	left:13px;
	font-size:18px;
	color:#f1f1f1;
	font-weight:bold;
}

a {
	color:#446aab;
	text-decoration: none;
	font-weight:bold;
}

a:visited {
	color:#446aab;
	text-decoration: none;
	font-weight:bold;
}


#header {
	width:100%;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#6e84c6), color-stop(0.5, #446aab), color-stop(0.5, #4063a2));
	background:-moz-linear-gradient(top, #6e84c6,#446aab 50%,#4063a2 50%);
	text-align:center;
	font-weight:bold;
	font-size:18px;
	color:#f1f1f1;
	position:relative;
	height:30px;
	padding-top:3px;
}

#header .back{
	position:absolute;
	left:13px;
	top:7px;
	height:15px;
	cursor:pointer;
	display:none;
}

#header .exit{
	position:absolute;
	right:13px;
	top:7px;
	height:15px;
	cursor:pointer;
}


#main-menu {
	width:100%;
	height:40px;
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#535353), color-stop(0.5, #292929), color-stop(0.5, #000));
	background:-moz-linear-gradient(top,#535353,#292929 50%,#000 50%);
	border-top:1px solid #000;
}


#main-menu li{
	float:left;
	width:20%;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	text-align:center;
	padding:8px 0px;
	list-style-type:none;
	cursor:pointer;
	position:relative;
}

#main-menu span{
	position:absolute;
	left:50%;
	margin-left:8px;
	margin-top:5px;
	height:20px;
	width:20px;
	background:#EC0000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	font-size:12px;
	line-height:20px;
	text-align:center;
	font-weight:bold;
	-webkit-box-shadow:0 0 4px #999;
	-moz-box-shadow:0 0 4px #999;
	color:#fff;
}

#main-menu img{
	height:22px;
}


#main-menu .on{
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#666), color-stop(0.5, #444), color-stop(0.5, #333));
	background:-moz-linear-gradient(top,#666,#444 50%,#333 50%);
	height:40px;
}


.wrapper {
	position:absolute;	/* On older OS versions "position" and "z-index" must be defined (absolute | relative), */
	width:100%;
	display:none;
}


.loginform{
	margin-bottom: 0;
	padding: 10px 8px;
	color:#666;
}


.loginform p{
	margin:20px 0px;
}


.main-field {
	width:100%;
	font-size: 18px;
	outline:none;
	color:#72A6FC;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px);
	padding: 10px 8px 8px 50px;
	border: 3px solid #e0e0e0;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

.main-checkbox{
	margin:0 10px;
}

.checkbox-label{
	font-size: 18px;
	color: #999;
}

.username-label, .password-label{
	position: absolute;
	margin: 13px 9px 9px 12px;
	color: #aaa;
	font-size: 18px;
}

.main-button{
	width:100%;
	border-style:none;
	-moz-box-shadow:0 1px 4px #4063a2;
	-webkit-box-shadow: 0px 1px 4px #4063a2;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#6e84c6), color-stop(0.5, #446aab), color-stop(0.5, #4063a2));
	background:-moz-linear-gradient(top, #6e84c6,#446aab 50%,#4063a2 50%);
	border-radius: 20px;
	text-align:center;
	padding:10px 0px;
	color:#fafafa;
	font-size:18px;
	font-weight: bold;
	margin-top:10px;
	cursor:pointer;
}


.more-button{
	width:100%;
	border-style:none;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#6e84c6), color-stop(0.5, #446aab), color-stop(0.5, #4063a2));
	background:-moz-linear-gradient(top, #6e84c6,#446aab 50%,#4063a2 50%);
	color:#f1f1f1;
	text-align:center;
	font-size:18px;
	padding:10px 0px;
	border-top:1px solid #ccc;
	font-weight:bold;
	cursor:pointer;
}

input:focus{ 
	border-color:#C4D1FF; 
}

.tab-bar{
	width:100%;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#e1e1e1), color-stop(0.5, #ccc), color-stop(0.5, #c7c7c7));
	background:-moz-linear-gradient(top, #e1e1e1,#ccc 50%,#c7c7c7 50%);
}

.tab-bar li{
	float:left;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	font-size:18px;
	text-align:center;
	padding:8px 0px;
	list-style-type:none;
	color:#aaa;
	font-weight:bold;
	cursor:pointer;
}

#eventsTagWidth{
	width:50%;
}

.tab-bar li{
	width:33.33%;
}

.tab-bar .on{
	color:#9a9a9a;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), color-stop(0.5, #ececec), color-stop(0.5, #e7e7e7));
	background:-moz-linear-gradient(top, #fafafa,#ececec 50%,#e7e7e7 50%);
}

.timeline,.poi{
	width:100%;
}

.single{
	clear:both;
	padding:20px 20px 30px 80px;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#fafafa),to( #eaeaea));
	background:-moz-linear-gradient(top, #fafafa,#eaeaea);
	position:relative;
}

.note{
	clear:both;
	padding:20px 20px 30px 20px;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#fafafa),to( #eaeaea));
	background:-moz-linear-gradient(top, #fafafa,#eaeaea);
	font-size:15px;
}

.user-tread{
	clear:both;
	padding:20px 20px 30px 20px;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#fafafa),to( #eaeaea));
	background:-moz-linear-gradient(top, #fafafa,#eaeaea);
	position:relative;
}

.single-avatar,.poi-avatar,.acti-avatar{
	position:absolute;
	width:50px;
	height:50px;
	left:17px;
	cursor:pointer;
}





.single-date{
	position:absolute;
	right:20px;
	color:#999999;
}


.single-name{
	font-size:15px;
	font-weight:bold;
	color:#446aab;
}

.poi-name{
	font-size:15px;
	font-weight:bold;
	padding:4px 0px 2px 0px;
	color:#446aab;
}



.single-operate{
	position:absolute;
	right:20px;
	bottom:12px;
	font-weight:bold;
	color:#999999;
}

.single-operate span{
	text-align:center;
	padding:0px 5px;
	cursor:pointer;
}



.single p,.user-tread p{
	margin:5px 0px 0px 0px;
	line-height:150%;
}


.single .quote,.user-tread .quote{
	background:#cddbfa;
	border:1px solid #b7caf1;
	margin:10px 0px 10px 0px;
	padding:10px;
	border-radius: 10px;
	line-height:150%;
}

.single .thumbnail,.user-tread .thumbnail{
	margin:5px 0px;
	cursor:pointer;
	padding:2px;
	background:#fafafa;
	border:1px solid #9eb0d5;
}

.comments,.retweet,.checkin{
	clear:both;
	padding:20px 20px 10px 20px;
	background:#b4c6ec;
	position:relative;
}


.comments textarea,.retweet textarea,.checkin textarea{
	width:100%;
	font-size: 18px;
	outline:none;
	color:#72A6FC;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	background: -webkit-gradient(linear, left top, left 25, from(#CCC), color-stop(5%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #CCC, #EEEEEE 5%, #FFFFFF);
	border: 3px solid #acbee5;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding: 10px 60px 10px 10px;
}

.submit-button{
	height:45px;
	width:45px;
	position: absolute;
	top:30px;
	right:40px;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#6e84c6), color-stop(0.5, #446aab), color-stop(0.5, #4063a2));
	background:-moz-linear-gradient(top, #6e84c6,#446aab 50%,#4063a2 50%);
	border-style:none;
	border-radius: 5px;
	text-align:center;
	color:#fafafa;
	cursor:pointer;
}

.comments p{
	margin:10px;
	border-bottom:1px dashed #9bafd9;
	padding-bottom:20px;
	padding-right:5px;
	color:#333;
	position:relative;
}

.author{
	font-weight:bold;
	color:#4063a2;
	padding-right:10px;
	cursor:pointer;
}

.comments .reply{
	position: absolute;
	right:10px;
	bottom:3px;
	color:#666;
	font-weight:bold;
	cursor:pointer;
}

.comment-bar{
	width:100%;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	margin-top:20px;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#e1e1e1), color-stop(0.5, #ccc), color-stop(0.5, #c7c7c7));
	background:-moz-linear-gradient(top, #e1e1e1,#ccc 50%,#c7c7c7 50%);
	border-radius: 20px;
}

.comment-bar li{
	float:left;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	font-size:18px;
	text-align:center;
	padding:8px 0px;
	list-style-type:none;
	color:#aaa;
	font-weight:bold;
	cursor:pointer;
	width:50%;
}

.comment-bar .available{
	color:#fafafa;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#6e84c6), color-stop(0.5, #446aab), color-stop(0.5, #4063a2));
	background:-moz-linear-gradient(top, #6e84c6,#446aab 50%,#4063a2 50%);
}

.comment-bar .pre{
	border-top-left-radius: 20px;
	border-bottom-left-radius:20px;
}

.comment-bar .next{
	border-top-right-radius: 20px;
	border-bottom-right-radius:20px;
}

.checkin p{
	margin:10px;
	border-bottom:1px dashed #9bafd9;
	padding-bottom:10px;
	padding-right:5px;
	color:#333;
	position:relative;
}


#userinfo{
	width:100%;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#fafafa),to(#eaeaea));
	background:-moz-linear-gradient(top, #fafafa,#eaeaea);
	height:90px;
	padding:12px 20px 15px 93px;
}

#userinfo .avatar{
	position:absolute;
	left:15px;
	top:10px;
	background:#fff;
	padding:2px;
	border:1px solid #ccc;
	width:60px;
	height:60px;
}

#userinfo .username{
	font-weight:bold;
	font-size:18px;
	color:#446aab;
}

#userinfo .location{
	padding-left:10px;
}

#userinfo .btn{
	height:35px;
	float:left;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#6e84c6), color-stop(0.5, #446aab), color-stop(0.5, #4063a2));
	background:-moz-linear-gradient(top, #6e84c6,#446aab 50%,#4063a2 50%);
	border-style:none;
	border-radius:8px;
	text-align:center;
	font-weight:bold;
	color:#fafafa;
	cursor:pointer;
	padding:8px;
	margin:5px 15px 0px 0px;
}



.clean{
	clear:both;
}
/*
 * the following is added by welling
 * 
 * */
/*  弹出发微博时的遮罩框     */
#mask{
	left:0;
	top:0;
	position:absolute;
	background:#ccc;
	opacity:0.5;
	z-index:199;
	display:none;
}


#send{
	width:90%;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-45%;
	margin-top:-100px;
	z-index:200;
	display:none;
	border:1px black solid;
	background:#222;
	opacity:0.85;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:45px 10px 15px 10px;
}


#image{
	position:absolute;
	top:50%;
	left:50%;
	margin-left:0px;
	margin-top:0px;
	z-index:200;
	display:none;
}

#send textarea{
	width:100%;
	font-size: 18px;
	outline:none;
	color:#72A6FC;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#CCC), color-stop(5%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #CCC, #EEEEEE 5%, #FFFFFF);
	border: 2px solid #ccc;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-weight:bold;
	padding:5px;
}

#send .close,#image .close{
	position:absolute;
	top:-10px;
	right:-10px;
	height:40px;
	cursor:pointer;

}


#send .tips{
	position:absolute;
	top:9px;
	left:13px;
	font-size:18px;
	color:#f1f1f1;
	font-weight:bold;
}



.set-center{

}

#pop-msg{
	width:50%;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-25%;
	margin-top:-100px;
	z-index:200;
	text-align:center;
	display:none;
	border:1px black solid;
	background:#222;
	opacity:0.85;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:20px 15px;
}

#pop-msg p{
	font-size:18px;
	color:#eee;
	font-weight:bold;
}

/* ---------- checkin page -------------- */

#search-box{
	width:100%;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#fafafa),to(#eaeaea));
	background:-moz-linear-gradient(top, #fafafa,#eaeaea);
	padding:13px 20px;
}

#search-box .content{
	width:100%;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	background: -webkit-gradient(linear, left top, left 25, from(#eaeaea), color-stop(5%, #EEEEEE), to(#FFFFFF));
	background: -moz-linear-gradient(top, #eaeaea, #EEEEEE 5%, #FFFFFF);
	border: 3px solid #e2e2e2;
	font-size:18px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	padding:8px;
	outline:none;
}

#search-box .content:focus{
	border-color:#C4D1FF;
}

.search-button{
	height:24px;
	width:24px;
	position: absolute;
	top:22px;
	right:40px;
	background:url(../image/search.gif);
	border-style:none;
	cursor:pointer;
}


/* ---------- city page -------------- */
#weather-box{
	width:100%;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#fafafa),to(#eaeaea));
	background:-moz-linear-gradient(top, #fafafa,#eaeaea);
	height:105px;
	position:relative;
}

.weather-icon{
	position:absolute;
	top:10px;
	left:10px;
	height:75px;
	width:75px;
}

.weather-content{
	position:absolute;
	top:13px;
	left:105px;
}

.weather-content h2{
	display:inline;
	font-size:20px;
	font-weight:bold;
	color:#446aab;
}

.weather-content p{
	line-height:150%;
	padding:8px 0px 0px 0px;
}


#city-panel .tab-bar li{
	width:50%;
}


/* ---------- user page -------------- */
.cat-item{
clear:both;
	padding:20px 20px 20px 30px;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#fafafa),to( #eaeaea));
	background:-moz-linear-gradient(top, #fafafa,#eaeaea);
	position:relative;
	font-size:16px;
	font-weight:bold;
	color:#446aab;
	cursor:pointer;
}

